<!DOCTYPE html>
<html lang="en">
  <%-include('./partial/head.ejs') %>
  <body>
    <%-include('./partial/authnav.ejs') %>

    <div class="mt-8 grid lg:grid-cols-3 gap-10">
      <% if (messages !== 'undefined') { %> <% if (messages.length > 0) { %> <%
      messages.forEach(message => { %>
      <div class="card hover:shadow-lg">
        <div class="m-4">
          <span class="font-bold"><%= message.title %></span>
          <span class="block text-gray-500 text-xs"
            >Message by <%= message.author.full_name %>
          </span>

          <div class="badge">
            <svg
              class="w-5 h-5 inline-block"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <span><%= message.date %></span>
          </div>
          <% if (typeof admin !== 'undefined') { %>
          <div
            class="bg-white text-gray-500 text-xs uppercase font-bold rounded-full p-2 absolute top-0 right-0 mr-4 mt-8"
          >
            <a href="messages/<%= message._id %>/delete">
              <button
                type="submit"
                class="text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs w-full sm:w-auto px-2.5 py-1 text-center p-2"
              >
                Delete
              </button>
            </a>
          </div>
          <%} %>
        </div>
        <hr />
        <div class="mt-2 mb-2 ml-4 mr-4">
          <p class="block text-gray-700"><%= message.text%></p>
        </div>
      </div>
      <% }) %> <%} else { %>
      <p>There are no messages</p>
      <% } %> <% } %>
    </div>
  </body>
</html>
